
# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3
*.db

# If you're using SQLite database
db.sqlite3


# Local environment variables
.env

# VS Code specific files
.vscode/

# JetBrains IDEs (PyCharm, IntelliJ) specific files
.idea/

# MacOS specific files
.DS_Store

# Linux specific files
*.swp
*.swo



# Virtual environment directories
venv/
env/
ENV/
.env/
.pip/

# pipenv files
Pipfile.lock

# If you're using Docker:
docker-compose.yml
*.env
Dockerfile

# Any secrets
secrets.json
